{% extends "finance/base.html" %}
{% load static finance_tags %}

{% block title %}دفتر اليومية العام{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="journalTable">
                <thead class="table-light">
                    <tr>
                        <th style="width: 15%;">تاريخ الحركة</th>
                        <th style="width: 45%;">الحساب والوصف</th>
                        <th style="width: 20%;" class="text-center">مدين</th>
                        <th style="width: 20%;" class="text-center">دائن</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tx in transactions %}
                    <tr>
                        <td rowspan="{{ tx.details.all|length|add:1 }}" class="align-middle text-center border-start-0">
                            <strong>{{ tx.date }}</strong>
                        </td>
                        <td colspan="3" class="p-2 bg-light-subtle border-end-0">
                            <em>{{ tx.description }}</em>
                        </td>
                    </tr>
                    {% for detail in tx.details.all %}
                    <tr>
                        <td class="{% if detail.credit > 0 %}ps-5{% endif %}">
                            <a href="{% url 'finance:ledger' detail.account.pk %}" class="text-decoration-none">{{ detail.account.name }}</a>
                        </td>
                        <td class="text-center">{{ detail.debit|currency }}</td>
                        <td class="text-center">{{ detail.credit|currency }}</td>
                    </tr>
                    {% endfor %}
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-5">لا توجد حركات مالية مسجلة.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "partials/pagination.html" %}
    </div>
</div>
{% endblock %}
